@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(-109deg, #1f3563 0%, #16062a 100%);
    color: #ffffff;
    padding: 10px;
}

.container{
    max-width: 1280px;
    margin: 0px auto;
    padding: 0px 15px;
}

.line{
    height: 3px;
    background-color: #c2c2c2;
    opacity: 0.05;
    margin-top: 82px;
    margin-bottom: 82px;
}


/*header*/
header{
    background-color: #18133a;
}

.header__account-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo p {
    
    font-size: 19px;
    text-transform: uppercase;
}

.header__logo-icon{
    width: 100%;
}

.header__form{
    max-width: 581px;
    width: 100%;
    height: 51px;
    
}

.header__form-inline{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border: 1px solid #8e819e;
}

.header__search-icon{
    position: absolute;
    top: 25%;
    margin: 0px 20px;
    border: none;
}

.header__search-btn{
    background: none;
    border: none;
}

.header__form-input{
    position: absolute;
    top: 23%;
    left: 10%;
    background: none;
    color: white;
    border: none;
    font-size: 16px;
}

.header__form-inline .header__form-input {
    border-bottom: none;
    border: none;
}

.header__nav-bar{
    display: flex;
    justify-content: center;
    margin: 30px 0px;
    padding-bottom: 30px;
}

.header__nav-bar a{
    font-size: 16px;
    text-decoration: none;
    padding: 15px;
    border: 1px solid transparent;
    color: #ffffff;
}

.header__nav-bar a:hover{
    border-bottom: 1px solid #1b8bcc;;
}

/* burger menu*/
#burger-checkbox{
    display: none;
}

@media (max-width:767px){
    .header__nav-bar{
        display: none;
    }   
    .header__container-burger {
        display: inline-block;
        cursor: pointer;
    }
    .header__bar1, .header__bar2, .header__bar3 {
        width: 35px;
        height: 5px;
        background-color: #ffffff;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .header__bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .header__bar2 {
        opacity: 0;
    }

    .change .header__bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }  

    .header input:checked ~ .header__nav-bar {
    display: flex;
    flex-direction: column;
    }
}



/*get-deal*/
.get-deal__description{
    position: relative;
    max-height: 1200px;
    height: 100%;
}

.get-deal__info{
    position: absolute;
    top: 27%;
    left: 0%;
}

.get-deal__title{
    position: relative;
    color: #75d1c6;
    font-size: 22px;
    font-weight: 400;
    z-index: 1;
}

.get-deal__subtitle{
    position: relative;
    font-size: 56px;
    font-weight: 700;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 0px 32px 0px;
    z-index: 1;
}

.get-deal__text{
    position: relative;
    color: #bbafca;
    font-weight: 300;
    font-size: 28px;
    z-index: 1;
}

.deal-btn{
    position: relative;
    max-width: 280px;
    width: 100%;
    height: 59px;
    border-radius: 29px;
    background-color: #12608e;
    background-image: linear-gradient(88deg, rgba(0, 227, 160, 0.8) 0%, rgba(0, 227, 160, 0.8) 1%, rgba(26, 90, 176, 0.8) 100%);
    text-decoration: none;
    border: none;
    margin-top: 25px;
    z-index: 1;
}

.deal-btn:hover{
    border: none;
    transform: translate3d(-4px, -4px, 0px);
    transition: 0.5s;
    background-image: linear-gradient(88deg,  rgba(26, 90, 176, 0.8) 0%, rgba(0, 227, 160, 0.8) 80%, rgba(0, 227, 160, 0.8) 100%);
}

.deal-btn span{
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}


.get-deal__icon{
    max-width: 776px;
    width: 100%;
    position: relative;
    left: 39%;
    z-index: 0;
}

/*get__book*/

.get-book__title{
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 35px;
    text-align: center;
}

.get-book__subtitle{
    color: #8e819e;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 60px;
    text-align: center;
}

.get-book__steps{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.get-book__background{
    width: 177px;
    height: 177px;
    background-color: #16062a;
    border-radius: 50%;
    position: relative;
}

.get-book__list-background{
    width: 33px;
    height: 33px;
    background-color: #12608e;
    border-radius: 50%;
    position: relative;
    left: 11%;
    top: 11%;
}

.get-book__list-background p{
    position: absolute;
    left: 42%;
    top: 30%;
}

.get-book__sprite {
    background-image: url(../img/spritesheet-get-book.png);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    left: 54px;
    top: 54px;
}

.sprite-book {
    width: 70px;
    height: 70px;
    background-position: -229px -229px;
}

.sprite-cash-register {
    width: 70px;
    height: 70px;
    background-position: -757px -229px;
}

.sprite-computer {
    width: 69px;
    height: 69px;
    background-position: -1285px -229px;
}

.sprite-support {
    width: 70px;
    height: 70px;
    background-position: -1812px -229px;
}

.subblock-name{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 17px;
}

.subblock-text-info{
    max-width: 190px;
    height: 100%;
    color: #847893;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}

.get-book__button{
    text-align: center;
    margin-top: 77px;
}

/*eBook-preview*/

.eBook-preview__title {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.eBook-preview__subtitle{
    color: #8e819e;
    font-size: 18px;
    font-weight: 300;
    margin-top: 34px;
    margin-bottom: 59px;
    text-align: center;
}

.eBook-preview__describe {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}

.eBook-preview__text-describe{
    width: 474px;
    height: auto;
    padding: 29px; 
    border: 43px solid #16062a; 
    background: #13091f;
    border-radius: 20px;
    position: relative;
    text-align: start;
}

.eBook-preview__describe-preview{
    color: #847893;
    font-size: 14px;
    font-weight: 400;
}

.eBook-preview__chapter{
    color: #b9acc9;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin: 23px 0px;
}

.eBook-preview__icon{
    width: 211px;
    height: 325px;
    position: absolute;
    top: 60%;
    left: 87%;
}

.eBook-preview__sprites-list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.eBook-preview__print, .eBook-preview__read, .eBook-preview__organised{
    display: flex;
    align-items: center;

}

.eBook-preview__sprites-icon{
    min-width: 177px;
    min-height: 177px;
    background-color: #16062a;
    border-radius: 50%;
    position: relative;
}

.sprite-file{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 30%;
    top: 26%;
}

.sprite-open-book{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 26%;
    top: 22%;
}

.sprite-printer{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 26%;
    top: 25%;
}

.eBook-preview__sprite {
    background-image: url(../img/spritesheet-review.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-file {
    width: 70px;
    height: 88px;
    background-position: -139px -139px;
}

.sprite-open-book {
    width: 86px;
    height: 86px;
    background-position: -139px -505px;
}

.sprite-printer {
    width: 85px;
    height: 85px;
    background-position: -139px -869px;
}

.eBook-preview__text{
    position: relative;
    left: 9%;
}

.eBook-preview__heading{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-align: start;
}

.eBook-preview__description{
    max-width: 250px;
    min-height: 46px;
    color: #847893;
    font-size: 12px;
    font-weight: 400;
    text-align: start;
    margin-top: 13px;
}



/*clients-reviews*/

.clients-reviews__title{
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.clients-reviews__subtitle{
    color: #8e819e;
    font-size: 18px;
    font-weight: 300;
    margin-top: 34px;
    margin-bottom: 60px;
    text-align: center;
}

.clients-reviews__example{
    margin-bottom: 84px;
}

/* slider */

.slick-list {
    overflow: hidden;
}

.slick-track{
    display: flex;
    align-items: flex-start;
}

.slider{
    position: relative;
}
.slider .slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 50px;
}

.slider .slick-arrow.slick-prev{
    left: 0;
    background: url("../img/left-arrow.png") 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next{
    right: 0;
    background: url("../img/next.png") 0 0 / 100% no-repeat;
}

.slider .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider .slick-dots li{
    list-style: none;
    margin: 0px 10px;
}

.slider .slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
}

.slider__item{
    margin: 0px 20px;
}

/*slider content*/
.clients-reviews__andrei, .clients-reviews__vitalii, .clients-reviews__igor, .clients-reviews__vasya {
    max-height: 450px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #152249;
    background-image: linear-gradient(-109deg, #1f3563 0%, #16062a 100%);
    margin: 0px;
    padding: 26px 43px 20px 43px;
}

.clients-reviews__name{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 12px;
}

.clients-reviews__birthday-place {
    color: #006699;
    font-size: 8px;
    font-weight: 700;
}

.clients-reviews__info {
    max-height: 151px;
    color: #847893;
    font-size: 12px;
    font-weight: 400;
    margin-top: 36px;
    margin-bottom: 63px;
    letter-spacing: 1.2px;
    line-height: 18px;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}

.clients-reviews__info::-webkit-scrollbar {
    display: none;
}

.clients-reviews__name-rate{
    margin-bottom: 4px;
}

/*result*/
.result{
    max-height: 450px;
    height: 100%;
    background-image: linear-gradient(-246deg, rgba(82, 235, 183, 0.73) 0%, rgba(26, 90, 176, 0.73) 77%, rgba(26, 90, 176, 0.73) 100%);
}

.result__info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.result__description{
    text-align: center;
    position: relative;
    left: 35%;
    top: 140px;
    z-index: 10;
}

.result__title{
    color: #ffffff;
    font-size: 100px;
    font-weight: 600;
}

.result__subtitle{
    color: #fdfcff;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 22px;
}

.result__social-network{
    display: flex;
    justify-content: center;
}

.sprite-social-network {
    background-image: url(../img/spritesheet-social-network.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-facebook-logo {
    width: 24px;
    height: 24px;
    background-position: -47px -47px;
    
}

.sprite-instagram-social-network-logo-of-photo-camera {
    width: 24px;
    height: 24px;
    background-position: -165px -47px;
    margin: 0px 8px;
}

.sprite-twitter-social-logotype {
    width: 24px;
    height: 24px;
    background-position: -283px -47px;
}

.result__background{
    position: relative;
    left: 11%;
    top: 10px;
    z-index: 1;
}

.result__icon{
    max-width: 100%;
    
}

/*buy-book*/

.buy-book {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    position: relative;
}

.buy-book__icon{
    position: relative;
    left: -120px;
}

.buy-book__description {
    min-width: 606px;
    position: relative;
    top: 130px;
    text-align: center;
}

.buy-book__quote{
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
}

.buy-book__text{
    font-size: 16px;
    font-weight: 400;
    color: #8e819e;
    margin-top: 23px;
    margin-bottom: 27px;
}

.buy-book__author{
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 43px;
}

/*contacts*/

.contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts__name{
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 45px;
}

.contacts__info{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.contacts__description{
    text-align: right;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    left: -50px;
}

.contacts__communication{
    line-height: 34px;
}

.phone, .email{
    color: blue;
}

.contacts__location{
    margin-top: 24px;
    margin-bottom: 30px;
}

.contacts__work-schedule{
    line-height: 24px;
}

.contacts__input-form {
    display: flex;
    flex-direction: column;
    justify-self: center;
    position: relative;
    left: 35px;
}

.contacts__input-name{
    width: 371px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
    background-color: #0b112e;
    color: white;
    padding-left: 20px;
    padding-top: 3px;
}

.contacts__input-email{
    width: 371px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
    background-color: #0b112e;
    color: white;
    margin: 22px 0px;
    padding-left: 20px;
    padding-top: 3px;
}

.contacts__input-comment{
    width: 371px;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
    background-color: #0b112e;
    color: white;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-top: 12px;
}

input::placeholder { 
    color: white;
    font-size: 18px;
}

textarea::placeholder { 
    color: white; 
    font-size: 18px;
}

/*footer*/

footer{
    background-color: #18133a;
    margin-top: 54px;
}

.footer__nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 57px;
}

.footer__logo{
    display: flex;
    align-items: center;
    opacity: 0.6;
}

.footer__logo-text{
    font-size: 20px;
}

.footer__nav-bar{
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.footer__nav-bar a{
    text-decoration: none;
    padding: 15px;
    border: 1px solid transparent;
    color: #ffffff;
    opacity: 0.3;
}

.footer__nav-bar a:hover{
    opacity: 1;
}

.footer__social-networks{
    display: flex;
    align-items: center;
    opacity: 0.6;
}

.footer-sprite {
    background-image: url(../img/spritesheet-footer.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-facebook {
    width: 7px;
    height: 14px;
    background-position: -27px -27px;
}

.sprite-instagram {
    width: 14px;
    height: 14px;
    background-position: -88px -27px;
}

.sprite-pinterest {
    width: 11px;
    height: 12px;
    background-position: -156px -27px;
}

.sprite-instagram{
    margin: 0px 22px;
}

.footer__copyright{
    text-align: center;
    margin-top: 63px;
    padding-bottom: 47px;
}












