@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(-109deg, #1f3563 0%, #16062a 100%);
    color: #ffffff;
}

.container{
    max-width: 1080px;
    margin: auto;
}

.line{
    width: 1310px;
    height: 3px;
    background-color: #c2c2c2;
    opacity: 0.05;
    margin-top: 82px;
    margin-bottom: 82px;
}

header{
    background-color: #18133a;
}

.account-info {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-icon{
    width: 22px;
    height: 27px;
}

.form-inline{
    display: flex;
    width: 581px;
    height: 51px;
    border-radius: 25px;
    border: 1px solid #8e819e;
    margin-left: -100px;
}

.search-icon{
    margin-left: 20px;
    border: none;
}

.search-btn{
    background: none;
    border: none;
}

.form-input{
    background: none;
    color: white;
    border: none;
    font-size: 16px;
    height: 100%;
    width: 100%;
}

.form-inline .form-input {
    border-bottom: none;
    border: none;
}

.account{
    display: flex;
    align-items: center;
}

.account-icon{
    width: 23px;
    height: 24px;
}

.nav-bar{
    display: flex;
    justify-content: center;
    margin: 30px 0px;
    padding-bottom: 30px;

}

.nav-bar a{
    text-decoration: none;
    padding: 15px;
    border: 1px solid transparent;
    color: #ffffff;
}

.nav-bar a:hover{
    border-bottom: 1px solid #1b8bcc;;
}

.get-the-deal{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.discount-text{
    position: relative;
    left: 109px;
}

.back-to-school{
    width: 208px;
    height: 16px;
    color: #75d1c6;
    font-size: 22px;
    font-weight: 400;
}

.special-off{
    width: 535px;
    height: 94px;
    font-size: 56px;
    font-weight: 700;
    color: #ffffff;
    font-family: "Montserrat - Bold";
    margin-top: 26px;
}

.for-student{
    width: 535px;
    height: 94px;
    color: #bbafca;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 300;
    padding-top: -15px;
}

.deal-btn{
    width: 280px;
    height: 59px;
    border-radius: 29px;
    background-color: #12608e;
    background-image: linear-gradient(88deg, rgba(0, 227, 160, 0.8) 0%, rgba(0, 227, 160, 0.8) 1%, rgba(26, 90, 176, 0.8) 100%);
    text-decoration: none;
    border: none;
}

.deal-btn:hover{
    border: none;
}

.deal-text{
    width: 107px;
    height: 11px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}


.steps-to-get-book{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.easy-as-this{
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 35px;
}

.name-easy-steps{
    color: #8e819e;
    font-size: 18px;
    font-weight: 300;
    margin-top: 35px;
    margin-bottom: 60px;
}

.easy-steps-to-get-book{
    display: flex;
}

.sprite {
    background-image: url(../img/easy-as-this.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-icon-book {
    width: 204px;
    height: 204px;
    background-position: -123px -123px;
}

.sprite-icon-calculator {
    width: 302px;
    height: 204px;
    background-position: -573px -123px;
}

.sprite-icon-comp {
    width: 303px;
    height: 204px;
    background-position: -1121px -123px;
}

.sprite-icon-hand {
    width: 302px;
    height: 204px;
    background-position: -1670px -123px;
}

.subblock-name{
    width: 131px;
    height: 19px;
    color: #ffffff;
    font-family: "Montserrat - Semi Bold";
    font-size: 18px;
    font-weight: 400;
    margin-top: 35px;
    margin-bottom: 18px;
    margin-left: 50px;
    text-align: center;
}

.subblock-text-info{
    width: 190px;
    height: 49px;
    color: #847893;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 300;
    margin-left: 22px;
    text-align: center;
}

.deal-button{
    display: flex;
    justify-content: center;
    margin-top: 77px;
}

.eBook-preview{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preview-title {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
}

.preview-subtitle{
    color: #8e819e;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    margin-top: 34px;
    margin-bottom: 59px;
}

.describe-of-block {
    display: flex;
}

.text-describe{
    margin-left: -115px;
}

.sprites-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-describe{
    width: 380px;
    height: auto;
    padding: 29px; 
    border: 43px solid #16062a; 
    background: #13091f;
    border-radius: 20px;
}

.describe-preview{
    color: #847893;
    font-family: "Montserrat";
    font-size: 14px;
}

.chapter{
    color: #b9acc9;
    font-family: "Montserrat - Semi Bold";
    font-size: 18px;
    margin: 23px 0px;
}

.man{
    width: 211px;
    height: 325px;
    margin-top: 382px;
    margin-left: -100px;
}

.sprites-list{
    margin-left: 60px;
}

.sprite-review {
    background-image: url(../img/spritesheet-review.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-organised {
    width: 177px;
    height: 177px;
    background-position: -47px -47px;
}

.sprite-print {
    width: 177px;
    height: 177px;
    background-position: -47px -318px;
}

.sprite-read {
    width: 177px;
    height: 177px;
    background-position: -47px -589px;
    margin: 47px 0px;
}

.describe-for-sprates{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 44px;
}

.sprites-name{
    color: #ffffff;
    font-family: "Montserrat - Semi Bold";
    font-size: 24px;
    font-weight: 400;
}

.sprites-info{
    width: 250px;
    height: 46px;
    color: #847893;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 300;
}

.clients-reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.example-clients-reviews{
    display: flex;
    margin-bottom: 84px;
}

.andrei-review, .vitalii-review, .igor-review{
    height: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #152249;
    background-image: linear-gradient(-109deg, #1f3563 0%, #16062a 100%);
    margin: 10px;
    padding: 26px 43px 20px 43px;
}

.name-client{
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 12px;
}

.birthday-place {
    color: #006699;
    font-family: Montserrat;
    font-size: 8px;
    font-weight: 700;
}

.info-client {
    height: 121px;
    color: #847893;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    margin-top: 36px;
    margin-bottom: 63px;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}

.info-client::-webkit-scrollbar {
    display: none;
}

.site-result{
    height: 450px;
    background-image: linear-gradient(-246deg, rgba(82, 235, 183, 0.73) 0%, rgba(26, 90, 176, 0.73) 77%, rgba(26, 90, 176, 0.73) 100%);
}

.site-result-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 125px;
}

.amount{
    color: #ffffff;
    font-family: "Montserrat - Semi Bold";
    font-size: 100px;
    font-weight: 400;
}

.sold-copies{
    color: #fdfcff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 22px;
}

.social-network-in-section{
    display: flex;
}

.sprite-social-network {
    background-image: url(../img/spritesheet-social-network.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-facebook-logo {
    width: 24px;
    height: 24px;
    background-position: -47px -47px;
    
}

.sprite-instagram-social-network-logo-of-photo-camera {
    width: 24px;
    height: 24px;
    background-position: -165px -47px;
    margin: 0px 8px;
}

.sprite-twitter-social-logotype {
    width: 24px;
    height: 24px;
    background-position: -283px -47px;
}

.humand-and-books{
    width: 500px;
    height: 350px;
    position: absolute;
    top: 3470px;
    left: 66.5%;
}

.buy-the-book {
    display: flex;
    margin-left: 30px;
    margin-top: 120px;
}

.section-description {
    width: 606px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 100px;
}

.quote{
    color: #ffffff;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
}

.text-from-book{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    color: #8e819e;
    margin-top: 23px;
    margin-bottom: 27px;
}

.author{
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 43px;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-block-name{
    color: #ffffff;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 45px;
}

.contact-info{
    display: flex;
}

.site-contacts{
    text-align: right;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    margin-left: -35px;
}

.location{
    margin-top: 24px;
    margin-bottom: 30px;
}

.input-form {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 321px;
    margin-left: 35px;
}

.input-name{
    width: 371px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
    background-color: #0b112e;
    color: white;
    padding-left: 20px;
    padding-top: 3px;
}

.input-email{
    width: 371px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
    background-color: #0b112e;
    color: white;
    margin: 22px 0px;
    padding-left: 20px;
    padding-top: 3px;
}

.input-comment{
    width: 371px;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
    background-color: #0b112e;
    color: white;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-top: 12px;
}

input::placeholder { 
    color: white;
    font-size: 16px;
}
textarea::placeholder { 
    color: white; 
    font-size: 18px;
}

.contact-btn{
    margin-left: 330px;
}

footer{
    background-color: #18133a;
    margin-top: 54px;
}

.footer-navigation{
    display: flex;
    justify-content: space-between;
    padding-top: 57px;
}

.footer-logo{
    display: flex;
    align-items: center;
    opacity: 0.6;
}

.footer-logo-text{
    font-size: 20px;
}

.footer-nav-bar{
    display: flex;
    align-items: center;
}

.footer-nav-bar a{
    text-decoration: none;
    padding: 15px;
    border: 1px solid transparent;
    color: #ffffff;
    opacity: 0.3;
}

.footer-social-networks{
    display: flex;
    align-items: center;
    opacity: 0.6;
}

.footer-sprite {
    background-image: url(../img/spritesheet-footer.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-facebook {
    width: 7px;
    height: 14px;
    background-position: -27px -27px;
}

.sprite-instagram {
    width: 14px;
    height: 14px;
    background-position: -88px -27px;
}

.sprite-pinterest {
    width: 11px;
    height: 12px;
    background-position: -156px -27px;
}

.sprite-instagram{
    margin: 0px 22px;
}

.footer-copyright{
    text-align: center;
    margin-top: 63px;
    padding-bottom: 47px;
}












