body {
 background-image: linear-gradient(-109deg, #1f3563 0%, #16062a 100%);
 color: #ffffff;
}
.container{
    max-width: 1080px;
    margin: auto;
}
.line{
    width: 1310px;
    height: 3px;
    background-color: #c2c2c2;
    opacity: 0.05;
    margin-top: 82px;
    margin-bottom: 82px;
}
.all-header{
    display: flex;
    flex-direction: column;
}
.top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
}
.logo-icon{
    width: 22px;
    height: 27px;
}
.form-inline{
    display: flex;
    width: 581px;
    height: 51px;
    border-radius: 25px;
    border: 1px solid #8e819e;
}
.search-icon{
    margin-left: 20px;
    border: none;
}
.search-btn{
    background: none;
    border: none;
}
.form-input{
    background: none;
    color: white;
    border: none;
    font-size: 16px;
    height: 100%;
    width: 100%;
}
.form-inline .form-input {
    border-bottom: none;
    border: none;
}
.account{
    display: flex;
    align-items: center;
}
.account-icon{
    width: 23px;
    height: 24px;
}
.nav-bar{
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}
.nav-bar a{
    text-decoration: none;
    padding: 15px;
    border: 1px solid transparent;
    color: #ffffff;
}
.nav-bar a:hover{
    border-bottom: 1px solid #1b8bcc;;
}

.get-the-deal{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.discount-text{
    position: relative;
    left: 109px;
}
.back-to-school{
    width: 208px;
    height: 16px;
    color: #75d1c6;
    font-size: 22px;
    font-weight: 400;
}
.special-off{
    width: 535px;
    height: 94px;
    font-size: 56px;
    font-weight: 700;
    color: #ffffff;
    font-family: "Montserrat - Bold";
    margin-top: 26px;
}
.for-student{
    width: 535px;
    height: 94px;
    color: #bbafca;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 300;
    padding-top: -15px;
}
.deal-btn{
    width: 280px;
    height: 59px;
    border-radius: 29px;
    background-color: #12608e;
    background-image: linear-gradient(88deg, rgba(0, 227, 160, 0.8) 0%, rgba(0, 227, 160, 0.8) 1%, rgba(26, 90, 176, 0.8) 100%);
}
.deal-text{
    width: 107px;
    height: 11px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}
.easy-as-this{
    width: 291px;
    height: 35px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
}
.name-easy-steps{
    width: 618px;
height: 18px;
color: #8e819e;
font-family: Montserrat;
font-size: 18px;
font-weight: 300;
}

